@font-face {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('~assets/fonts/CodecPro-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/CodecPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~assets/fonts/CodecPro-Light.ttf') format('truetype');
}