.header {
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.header__logo-group {
    width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-group__logo {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-group__img-logo {
    display: block;
    margin: 3px auto;
    height: 48px;
    width: 48px;
}
.header__logo-group__logo-title {
    font-weight: 500;
    font-size: 24px
}
.header__logo-group__descr {
    font-size: 16px;
    font-weight: 300
}
.header__options-group {
    width: 534px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.header__options-group__mod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 122px
}
.header__options-group__mod-text {
    font-size: 16px;
    font-weight: 300
}
.header__options-group__icons {
    width: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
}
.header__options-group__autor {
    width: 181px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.header__options-group__autor-name {
    font-size: 16px;
    font-weight: 500
}
.header__options-group__autor-photo {
    border-radius: 100%
}
.header__options-group__icon-notify:hover, .header__options-group__icon-message:hover, .header__options-group__mod-icon:hover {
    transform: scale(1.1);
}