@media (max-width: 1280px) {
    .item {
        width: 360px;
    }
}
@media (max-width: 1245px) {
    .item {
        width: 330px;
    }
}
@media (max-width: 1210px) {
    .item {
        width: 310px;
    }
    .item__img {
        margin-left: 20px;
    }
}
@media (max-width: 1090px) {
    .item {
        width: 280px;
    }
    .header__logo-group {
        width: 450px;
    }
    .header__logo-group__descr {
        font-size: 14px;
    }
    .header__options-group {
        width: 400px;
    }
    .header__options-group__mod {
        width: 90px;
    }
    .header__options-group__mod-text {
        font-size: 12px;
    }
    .header__options-group__icons {
        margin-left: 20px;
    }
}
@media (max-width: 1000px) {
    .item {
        width: 380px;
    }
}
@media (max-width: 915px) {
    .item {
        width: 360px;
    }
    .header__options-group {
        width: 300px;
    }
    .header__options-group__mod {
        width: 110px;
    }
    .header__logo-group {
        width: 400px;
    }
    .header__options-group__autor {
        margin-left: 20px;
    }
    .header__options-group__icons {
        margin-left: 10px;
    }
}
@media (max-width: 870px) {
    .item {
        width: 300px;
    }
}
@media (max-width: 775px) {
    .item {
        width: 280px;
    }
    .header__logo-group {
        width: 350px;
    }
    .header__logo-group__descr {
        margin-left: 20px;
    }
    .detailes {
        flex-direction: column;
    }
    .detailes__img {
        width: 343px;
        height: 332px;
    }
    .detailes__info {
        width: 90%;
    }
    .item {
        width: 250px;
    }
    .specifications__item {
        justify-content: space-around;
    }
}
@media (max-width: 680px) {
    .item {
        width: 210px;
    }
    .item__img {
        height: 70px;
        width: 70px;
    }
    .item__info {
        margin: 20px 0 0 14px;
    }
    .header__logo-group__descr {
        display: none;
    }
    .header__options-group__autor-name {
        display: none;
    }
    .header__logo-group__logo {
        margin-left: 22px;
    }
    .select, .select-wrapper {
        font-size: 30px;
    }
    .add-text {
        font-size: 16px;
    }
    .specifications__item {
        justify-content: space-between;
    }
}
@media (max-width: 575px) {
    .wrapper {
        min-height: 684px;
    }
    .add {
        width: 32px;
        height: 32px;
        border-radius: 8px;
    }
    .item {
        width: 343px;
        margin-left: auto;
        margin-right: auto;
    }
    .item__img {
        height: 88px;
        width: 88px;
        margin: 24px 0 0 32px;
    }
    .item__info {
        margin: 32px 0 0 24px;
    }
    .select-add-wrapper {
        height: 32px;
    }
    .error__title {
        font-size: 24px;
    }
}
@media (max-width: 520px) {
    .wrapper {
        padding: 26px 16px 16px 16px;
        border-radius: 24px;
    }
    .header {
        height: 56px;
    }
    .header__options-group__mod-text {
        display: none;
    }
    .header__options-group__mod {
        width: 20px;
    }
    .header__options-group__icons {
        margin-left: 0;
    }
    .header__options-group__autor {
        width: 56px;
    }
    .header__options-group__autor-photo {
        height: 32px;
        width: 32px;
    }
    .header__options-group {
        margin-right: 16px;
    }
    .header__logo-group__logo {
        width: 120px;
    }
    .header__logo-group__logo-title {
        font-size: 18px;
    }
    .header__logo-group__img-logo {
        height: 32px;
        width: 32px;
    }
    .select, .select-wrapper {
        font-size: 24px;
    }
    .select-wrapper {
        width: 200px;
    }
    .add-wrapper {
        width: 110px;
    }
    .select-add-wrapper {
        margin-bottom: 13px;
    }
    .item {
        margin-top: 12px;
    }
    .detailes__wrapper {
        padding-bottom: 132px;
        max-height: 900px;
    }
    .detailes__title {
        font-size: 24px;
        margin-top: 22px;
    }
    .detailes__navigation {
        margin-top: 16px;
    }
    .detailes__wrapper {
        padding-top: 20px;
    }
    .specifications__subtitle {
        margin: 20px 0;
    }
    .specifications__item {
        margin-bottom: 12px;
    }
    .detailes__rent {
        position: fixed;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        width: 343px;
    }
    .detailes__rent-button {
        font-size: 14px;
    }
}
@media (max-width: 435px) {
    .container {
        width: 375px;
    }
    .header__options-group {
        width: 135px;
    }
    .header__options-group__icons {
        width: 60px;
    }
    .header__options-group__mod-icon, .header__options-group__icon-message, .header__options-group__icon-notify {
        width: 16px;
    }
    .header__options-group__autor {
        width: 32px;
    }
    .item {
        width: 343px;
        padding-right: 0;
    }
    .team__item {
        margin-bottom: 12px;
    }
    .team__items {
        flex-direction: column;
        align-items: start;
    }
    .team__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 343px;
    }
    .team__item-img {
        width: 132px;
        height: 80px;
    }
    .team__text-wrapper {
        width: 195px;
    }
    .team__name {
        height: 20px;
        margin: 0;
    }
    .team__profession {
        margin-top: 4px;
    }
}