.select-wrapper {
    width: 400px;
    font-weight: 500;
    font-size: 40px;
    color: #012345;
    line-height: 120%;
}
.select {
    font-weight: 500;
    font-size: 40px;
    border: none;
    color: #4959FF;
    background-color:#F3F4F7;
    cursor: pointer;
}
.option {
    border: none;
}