.team {
    min-height: 350px;
}
.team__item {
    width: 32%;
}
.team__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 146%;
    margin: 0 0 32px 0;
}
.team__title {
    font-size: 24px;
    font-weight: 500;
    color: #012345;
    margin-bottom: 32px;
}
.team__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.team__item-img {
    border-radius: 16px;
    width: 100%;
    object-fit: contain;
}
.team__name {
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    color: #012345;
}
.team__profession {
    margin-top: 8px;
    font-weight: 300;
    font-size: 12px;
    color: #677B8F;
}